### Introduction to Python
#### Robert Palmere, 2021
#### Email: rdp135@chem.rutgers.edu
--------------------------------------------------------------------
#### Topics:
    * str
    * int, float, complex
    * casting
    * range, tuple, list, dict, set, frozenset
    * bool
    * for loops
    * while loops
    * conditional statements
    * methods
    * lambda methods
    * recursion
    * *args and **kwargs

Programming Tips
1. Take your time if you can afford it
2. Take breaks
3. View program errors as opportunities for learning

In [11]:
''' 
Comments require "#" before them and will be ignored by the Python interpreter 
More information
'''

print("Hello World!")
# print("Hello World!")

Hello World!

##### "Hello World" is known as a string which is a sequence (or string) of characters.
##### Let's assign a variable to this string.

In [12]:
x = "Hello World!"
type(x)

str

##### We can also define the variable x as a string using single quotes.

In [13]:
x = 'Hello World!'
type(x)

str

##### Why might we use one over the other?

In [122]:
x = "The variable 'x' has been assigned."
print(x); type(x)

x = 'I enjoy "rice".'
print(x)

The variable 'x' has been assigned.
I enjoy "rice".

##### Syntax error in this case: The quoted "x" or 'x' should be opposite of those used to encompass the string. How might we fix this?

##### What about numeric types? (int, float, complex)

In [18]:
x = 1 # Assigning x as integer 1
print(x, type(x).__name__)

x = int(1) # Assigning x as integer 1 using casting
print(x, type(x).__name__)

x = 1.0
print(x, type(x).__name__)

x = float(1.0)
print(x, type(x).__name__)

x = 1+2j
print(x, type(x).__name__)

x = complex(1, 2)
print(x, type(x).__name__)

1 int
1 int
1.0 float
1.0 float
(1+2j) complex
(1+2j) complex

##### We will address classes and the use of special methods in future sessions. 
##### This was used here to avoid the following output (FYI).

In [19]:
print(x, type(x))

(1+2j) <class 'complex'>

##### Perhaps we want our variable x to be a range of numbers rather than a single number.

In [20]:
x = range(6)
print(x, type(x).__name__)

range(0, 6) range

##### x is now data type "range" with values from 0 to 6.
##### Python iteration starts from 0 (i.e. 0, 1, 2, 3, ... stop_value)

In [21]:
print(x.start); print(x.step); print(x.stop)

0
1
6

##### Another way to accesss the values of range is via indexing.

In [22]:
print(x[0])
print(x[1])
print(x[-1])

0
1
5

##### If x[-1] is the last value in range(5) why is it not equal to x.stop?
##### Range(x) iterates 5 times from 0 making the final number equal to 4.

In [23]:
print(x[-2]) # Second from last

4

##### Can also use index slicing: [start:end:step]

In [24]:
y = x[0:6:2]
print(y.start, y.step, y.stop)
print(y[0], y[1], y[-1])

0 2 6
0 2 4

##### The same type of indexing can be used with containers

In [25]:
string = "Hello World!"
string[0:1] # First letter (start 0 end at 1 excluding index 1)

'H'

In [26]:
string[0:-3:2] # First letter and every other letter until 3rd to last letter

'HloWr'

In [27]:
string[-1:5:-1] # Start from last letter and iterate backwards by 1 until 5th character reach (left to right)

'!dlroW'

In [28]:
string[:] # Default [0:-1:1] -- 0 to end by step of a single index value

'Hello World!'

#### **Lists**: 
* 1.) Ordered (indexed) 
* 2.) Mutable (can be changed) 
* 3.) Do not need to be unique (can hold repeats)
* 4.) Can hold multiple data types

##### lists are declared using "[]" brackets encompassing comma-separated elements.

In [29]:
x = [1, 2.2, "Hello World!"]
print(x, type(x).__name__)

[1, 2.2, 'Hello World!'] list

##### 1.) Ordered

In [30]:
print(x[0])
print(x[-1])

1
Hello World!

##### 2.) Mutable
   * Remove elements at specific index - pop() / del
   * Remove element given the element - remove()
   * Add elements at specific index - insert()
   * Append elements - append()

In [31]:
print(x)

[1, 2.2, 'Hello World!']

In [32]:
x.pop(0) # Remove first element and return the removed element
print(x)

[2.2, 'Hello World!']

In [33]:
print(x) # 1 removed from the list

[2.2, 'Hello World!']

In [34]:
del x[0] # Remove the next element (2.2) but do not return the removed element
print(x)

['Hello World!']

In [35]:
x.insert(0, 2.2) # Insert 2.2 and 1 at index 0 (beginning of the list)
x.insert(0, 1)
print(x)

[1, 2.2, 'Hello World!']

In [36]:
x.append(4+2j) # Append complex element to end of the list
print(x)

[1, 2.2, 'Hello World!', (4+2j)]

##### 3.) Do not need to have unique elements

In [37]:
y = [1, 1, 1, 2, 2, 3]
print(y)

[1, 1, 1, 2, 2, 3]

##### We can use the list() function to cast elements of an iterable as a list (e.g. string, range()).

In [38]:
x = list("Hello World")
print(x)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [39]:
x = list(range(6))
print(x)

[0, 1, 2, 3, 4, 5]

##### **Tuples**: Similar to lists but **NOT** mutable.

##### Tuples are declared using "()" parenthesis encompassing comma-separated elements

In [40]:
x = (1, 2.2, "Hello World!")
print(x)

(1, 2.2, 'Hello World!')

In [41]:
try:
    x.pop(0)
except:
    print(f'x is type {type(x).__name__} and hence immutable.')

x is type tuple and hence immutable.

In [42]:
print(x[0])

1

##### We can use the tuple() function to cast elements of an iterable as a tuple (e.g. string, range()).

In [43]:
x = tuple("Hello World")
print(x)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [44]:
x = tuple(range(6))
print(x)

(0, 1, 2, 3, 4, 5)

##### **Sets**:

1. Not ordered (cannot be accessed by index or keys)
2. Mutable
3. Elements must be unique
4. Can hold mutiple data types

##### Sets are declared using "{}" brackets encompassing comma-separated elements

In [45]:
x = {1, 2, 3}
print(x)

{1, 2, 3}

In [46]:
x = {1, 1, 2, 3} # Duplicates removed automatically
print(x)

{1, 2, 3}

In [47]:
x = set("Hello World") # Notice it prints as unordered
print(x)

{' ', 'o', 'e', 'H', 'l', 'r', 'd', 'W'}

But "order" needs to be determined initially by Python somehow. Check out this [Stack Exchange](https://stackoverflow.com/questions/12165200/order-of-unordered-python-sets) page for more information.

##### 2.) Mutable
   * Remove elements at specific index - pop()
   * Remove element given the element - remove()
   * Add elements at specific index - add()
   * Update the set - update()
   * clear the set - clear()

In [48]:
print(x)

{' ', 'o', 'e', 'H', 'l', 'r', 'd', 'W'}

In [49]:
x.pop() # Removes the first element of the set and returns the removed element

' '

In [50]:
x.remove('H') # Removes the element given as an argument but does not return the element
print(x)

{'o', 'e', 'l', 'r', 'd', 'W'}

In [51]:
x.clear() # Clears the set rendering "x" as an empty set
print(x)

set()

In [52]:
x.update(range(6)) # Updates the set with new values 0-5 using range()
print(x)

{0, 1, 2, 3, 4, 5}

In [53]:
x.update("Hello World") # Appends unique values to the set
print(x)

{0, 1, 2, 3, 4, 5, 'e', 'o', ' ', 'H', 'l', 'r', 'd', 'W'}

In [54]:
x = set(range(6)) # can also use the set() function to declare a set
print(x)

{0, 1, 2, 3, 4, 5}

##### Frozenset is a set that is immutable.

In [55]:
x = frozenset(range(6))
print(x)

frozenset({0, 1, 2, 3, 4, 5})

##### Both sets and frozensets have unique, mathematically relevant, functionality.

In [56]:
x = set(range(6))
y = set(range(10))
print(x, y)

{0, 1, 2, 3, 4, 5} {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
x.union(y) # Unify elements between x and y removing any elements which overlap between the two sets

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
x.intersection(y) # Return a set containing elements that both x and y share

{0, 1, 2, 3, 4, 5}

In [59]:
x.difference(y) # x is a subset of y so returns an empty set

set()

In [60]:
y.difference(x) # y is a superset of x so returns the elements which x does not hold

{6, 7, 8, 9}

##### Boolean values are binary and can be True or False. The bool() function will try to interpret its argument as either True or False. 0 = False, >0 = True. If the value exists it will return True.

x = 0
bool(x)

In [61]:
x = 1
bool(x)

True

In [62]:
x = True
type(x)

bool

In [63]:
x = False
type(x)

bool

In [64]:
x = "Hello World"
bool(x)

True

In [65]:
x = ""
bool(x)

False

In [66]:
x = None
bool(x)

False

#### Dictionaries 

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type.

In [67]:
d = {1 : 'a', 2 : 'b', 3 : 'c'}
print(type(d).__name__, d)

dict {1: 'a', 2: 'b', 3: 'c'}

In [68]:
print(d[1]) # using 1 as the key, we access its associated value 'a'

a

In [69]:
d.keys() # returns the available keys of the dict

dict_keys([1, 2, 3])

In [70]:
d.values() # returns the available values of the dict

In [72]:
d[2]

'b'

#### For loops: used to iterate through an iterator (or more generally a data structure)

Syntax: $ for {variable indicating the element} in {iterator}: {do something}

In [73]:
x = list(range(6))
print(x)

[0, 1, 2, 3, 4, 5]

In [75]:
for i in x: 
    print(i)

0
1
2
3
4
5

In [76]:
x[0] in x # i = x[0]
x[1] in x # i = x[1] returns True and carries out print() goes to the next element i = x[2]

True

##### Lists can be generated using a for loop

In [77]:
myList = []
for i in x: # Notice that the scope of the for loop is defined by the indent (block)
    myList.append(i)
print(myList)

[0, 1, 2, 3, 4, 5]

##### The same list can be generated using list comprehension

In [ ]:
myList = [i for i in x] 
print(myList)

##### Loops can be nested within one another

In [82]:
import time
myList = []
for i in x:
    for j in x:
        myList.append((i, j))
        time.sleep(.25)
        print('i =', i, 'j =', j, end='\r')

In [79]:
print(myList)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

##### Loops nested using list comprehension

In [80]:
myList = [(i, j) for i in x for j in x]
print(myList)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

##### Conditional Statements

In [83]:
1 < 2 # Less than

True

In [84]:
1 > 2 # Greater than

False

In [85]:
1 <= 2 # Less than or equal
2 >= 1 # Greater than or equal

True

In [86]:
1 == 1 # Equal

True

In [87]:
(1 == 1) and (2 == 2) # Biconditional statement (both must be True)

True

In [88]:
(1 == 1) or (2 == 2) # Check if one or the two are True

True

In [89]:
if (1 == 1) or (2 == 1):
    print('1 == 1')

1 == 1

#### While Loops + Conditional Statements

In [90]:
x = 0
b = True;
while b == True:
    x += 1
    print(x, end='\r')
    if x == 10_000:
        b = False

#### Methods

Syntax: $ def {function_name}(arg1, arg2): {do something}

In [91]:
def add(x, y):
    # put code here
    return x + y

add(1, 2)

3

##### Example: Fibonacci series

In [92]:
def fibonacci(n):
    '''
    parameters: None
    returns: list of first 10 fibonacci numbers
    '''
    result = []
    for i in range(n):
        if i < 2:
            result.append(i)
        else:
            v = result[i-2] + result[i-1]
            result.append(v)
    return result

fib = fibonacci(10)
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

##### Fibonacci series with recursion

In [93]:
def fib_recursion(n):
    if n <= 1:
        return n
    else:
        return (fib_recursion(n-1) + fib_recursion(n-2))

for i in range(10):
    f = fib_recursion(i)
    print(f, end=' ')

0 1 1 2 3 5 8 13 21 34

#### A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [98]:
(lambda x : x**2)(2)

4

Multiple arguments can be passed to a lambda function as well

In [99]:
add = lambda a, b : a + b
add(1, 1)

2

Example use:

In [100]:
myNumbers = [1, 2, 3, 4, 5]

In [101]:
print(filter.__doc__)

filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

In [102]:
even_numbers = list(filter(lambda x : (x % 2 == 0), myNumbers)) 
print(even_numbers)# Filtered for numbers who have a remainder of zero when divided by 2 (x mod 2)

[2, 4]

#### *Args and **Kwargs are useful if we do not know the number of arguments we will pass to our function.

What do the "*" and "**" signify in python?

In [104]:
tpl = ('a', 'b', 'c') # Define a iterable (tuple)

In [105]:
print(tpl) # print the tuple

('a', 'b', 'c')

In [106]:
print(*tpl) # print() knows to handles the tuple as multiple arguments to be printed space separated to the same line

a b c

In [107]:
for i in tpl: print(i, end=" ") # internally

a b c

What about "**kwargs"? (KeyWord Args)

In [108]:
print(**tpl) # No keyword

TypeError: print() argument after ** must be a mapping, not tuple

In [109]:
d = {'a' : 1, 'b' : 2}

In [110]:
print(*d.keys())

a b

In [111]:
print(*d) # defaults to keys

a b

In [112]:
print(**d) # print() doesn't recognize **kwargs

TypeError: 'a' is an invalid keyword argument for print()

In [113]:
def myfunction(**kwargs):
    print(kwargs)

In [114]:
myfunction(d) # *args not specified - assumed to be zero (d is a keyword argument)

TypeError: myfunction() takes 0 positional arguments but 1 was given

In [115]:
myfunction(**d)

{'a': 1, 'b': 2}

Example

In [119]:
options = {'float' : lambda y : sum([float(x) for x in y]), 
           'str' : lambda y : ''.join([str(x) for x in y]) }

# Options defined in a dictionary - lambdas allow keyword to be callable

In [116]:
def add_these(*args, **kwargs):
    '''A function uising *args and **kwargs'''
    if len(kwargs) == 0:
        raise ValueError('No **options provided.')
    else:
        key_ = None
        for key in kwargs.keys():
            if key in args:
                print(f"Key found to be '{key}'.")
                key_ = key
        args = list(args)
        args.remove(key_)
        return kwargs[key_](args)

In [117]:
add_these(1, 2, 3, 'float')

ValueError: No **options provided.

In [120]:
add_these(1, 2, 3, 'float', **options)

Key found to be 'float'.

6.0

In [123]:
add_these(1, 2, 3, 'str', **options)

Key found to be 'str'.

'123'

In [124]:
matrix = [[1, 0, 0], [0, 1, 0], [0, 0, 1]]
print(matrix)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [126]:
import numpy as np
m = np.asarray(matrix)
print(m)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [149]:
import pandas as pd

df = pd.DataFrame(matrix)
print(df)

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1

In [130]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [131]:
tpl = (1, 2, 3, 4, 5)

In [133]:
x = []
y = ()

print(len(dir(x)))
print(len(dir(y)))

47
34

In [147]:
def add(x, y, z):
    return 

lambda x, y, z : x+y+z

In [148]:
f = 'data.txt'

file_ = open(f, 'w')

file_.write('Hello World.')
file_.close()

In [142]:
file_ = open(f, 'r')

lines = file_.readlines()
print(lines)

['Hello World.']

In [145]:
import subprocess

subprocess.call(['echo','$PWD'])

0

In [146]:
print("Hello World
      ")

SyntaxError: EOL while scanning string literal (<ipython-input-146-c164ee1c5e6d>, line 1)